<form method="POST" action="">
    {% csrf_token %}
    <p>
        <input type="text" name="username" placeholder="Username..." >
    </p>
    
    <p>				
        <input type="password" name="password" placeholder="Password..." >
    </p>

    <p>						
        <input class="btn login_btn" type="submit" value="Login">
    </p>

</form>

<div>
				{% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}

				Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
			
</div>